<nav class="navbar navbar-light bg-light topnav">
  <a class="navbar-brand" routerLink="/">Epicodus Forum</a>
  <!-- <ul class="nav navbar-nav navbar-left">
    <li><a class="btn btn-success nav-link">Sign In</a></li>
    <li><a class="btn btn-danger nav-link">Sign Out</a></li>
  </ul> -->
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>